            .nav {
  color: #FC92A4 !important; }


.material-icons{
    color: #FC92A4 !important;;
    border-color: #FC92A4 !important;;
}


.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus
.waves-effect{
    background-color: #FC92A4 !important;;
    border-color: #FC92A4 !important;;
} .waves-brown .waves-ripple{
    background-color: #FC92A4 !important;;
    border-color: #FC92A4 !important;;
}  
.waves-light{
    background-color: #FC92A4 !important;;
    border-color: #FC92A4 !important;;
} .waves-effect{
    background-color: #FC92A4 !important;;
    border-color: #FC92A4 !important;;
} .btn-large{
    background-color: #FC92A4 !important;;
    border-color: #FC92A4 !important;;
}