{% extends"layout.html" %} {% block body %}
<nav>
    <div class="nav-wrapper" style="padding-left: 30px;"">
      <div class="col s12">
        <a href="/" class="breadcrumb">Home</a>
      </div>
    </div>
  </nav>
<div class="card s12">
    <div class="card-content center">
        <h2>Welcome to Oncomatic</h2>
        <p>User-friendly web tool for querying data from The Cancer Genome Atlas (TCGA), generating analytical visualisations in a streamlined manner.</p>

<div class="row" style="padding-top:50px;"">



<div class="col s12 m4">
<div class="icon-block center">
<h3 style="text-align: center;"> High quality</h3>
<i class="large material-icons">insert_chart</i>
<p>Publication level visualisations</p>
</div>
</div>


<div class="col s12 m4">
<div class="icon-block center">
<h3 style="text-align: center;"> Fast</h3>
<i class="large material-icons">flash_on</i>
<p>Publication level visualisations</p>
</div>
</div>


<div class="col s12 m4">
<div class="icon-block center">
<h3 style="text-align: center;"> Easy to use</h3>
<i class="large material-icons">thumb_up</i>
<p>Publication level visualisations</p>
</div>
</div>

</div>
</div>


</div>

  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"> <i class="material-icons">power_settings_new</i><h3 class="center">Oncomatic Tools</h3></div>
      <div class="collapsible-body"><span>

<div class="card s12">
<div class="card-content">

<div class="row">
<div class="col s12 m4">
<div class="icon-block center">
<h3 style="text-align: center;"> Mutation Analysis</h3>
<i class="large material-icons">album</i>
<p> Analyse TCGA mutation data to identify the top mutated genes between user-defined biological conditions and view results in tabular and graphical format</p>
</div>
</div>


<div class="col s12 m4">
<div  class="icon-block center">
<h3 style="text-align: center;"> Differential Expression</h3>
<i class="large material-icons" href="#MA">polymer</i>
<p> Analyse TCGA sequencing data by differential gene expression (DGE) analysis to identify the most variable genes between user-defined biological conditions and view results in tabular and graphical format </p>
</div>
</div>


<div class="col s12 m4">
<div class="icon-block center">
<h3 style="text-align: center;"> Patient Analytics</h3>
<i class="large material-icons">perm_identity</i>
<p>Publication level visualisations</p>
</div>
</div>

</div>








  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">album</i> Mutation Analysis</div>
      <div class="collapsible-body"><span>





        




















<div id="MA" class="card s12">
    <div class="card-content">
        <h4><i class="large material-icons" >album</i>  Mutation Analysis</h4>
        <p>Streamlined oncoprint generation; simply prepare a query to TCGA data and I'll automatically generate an oncoprint visualisation.</p>
        <div class="row">
            <form id="oncoprint_form" onsubmit="ShowLoading()" class="col s12" action="/result" method="post">
                <div class="row" style="padding-top: 30px;">
                    
                    <div class="input-field col s6">
                        <select name="tumor_type" required>
                            <option value="" disabled selected>Please select a tumor type</option>
                            <option value="BRCA">Breast (BRCA) - NO SUBTYPING</option>
                            <option value="BRCA,subtyping">Breast (BRCA) - SUBTYPING</option>
                            <option value="PAAD">Pancreatic (PAAD)</option>
                            <option value="LUAD">Lung (LUAD)</option>
                            <option value="LUSC">Lung (LUSC)</option>
                            <option value="LUAD,smokers">Lung - smoker status(LUAD)</option>
                            <option value="LUSC,smokers">Lung - smoker status (LUSC)</option>
                        </select>
                        <label>Tumor type</label>

                    </div>
                  </div>



                    <div class="row">
                        <div class="input-field col s6">
                            <select name="pipeline" required>
                                <option value="" disabled selected>Choose your pipeline option</option>
                                <option value="mutect2">MuTect2</option>
                                <option value="muse">MuSE</option>
                                <option value="varscan2">VarScan2</option>
                                <option value="somaticsniper">SomaticSniper</option>
                            </select>
                            <label>Variant Caller Pipeline</label>
                        </div>
                    </div>


                    <div class="row">
                        <h6 style="padding-left: 30px;">Number of genes to show:</h6>
                        <p class="range-field">
                            <input type="range" name="genenumber" id="test5" min="0" max="40"/>
                        </p>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <select name= "pickgenes" required>
                                <option value="" disabled selected>Please pick an answer</option>
                                <option value="yes">yes</option>
                                <option value="no">no</option>
                            </select>
                            <label>Show only specific genes?</label>
                        </div>
                    </div>
                    



                    
    
<div class="row">
        <div class="input-field col s12">
          <textarea name= "genelist" id="textarea1" class="materialize-textarea" >All</textarea>
          <label for="textarea1">Please enter specific gene names in capital letters seperated by dashes (e.g. "ATM-P53-BRCA1").</label>
        </div>
      </div>


                </div>
                <button class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Please pick all options" class="waves-effect waves-light btn" type="submit"><i class="material-icons right">album</i> Submit
                </button>
            </form>
        </div>
    </div>





</span></div>
    </li>








    
    <li>
      <div class="collapsible-header"><i class="material-icons">polymer</i>Differential Gene Expression</div>
      <div class="collapsible-body"><span>
        








    <div class="card s12">
        <div class="card-content">
            <h4><i class="large material-icons" >polymer</i> Differential Gene Expression (DGE) Analysis </h4>
            <p>Streamlined transcriptional analysis; simply prepare a query to TCGA data and I'll automatically perform DGE analysis and produce visualisations.</p>
            <div class="row">
                <form class="col s12" action="/result" method="post">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="transcriptome" name="transcript" type="text" class="validate">
                            <label for="transcriptome">Tumor type</label>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <select>
                                    <option value="" disabled selected>Choose your pipeline option</option>
                                    <option value="mutect2">MuTect2</option>
                                    <option value="muse">MuSE</option>
                                    <option value="varscan2">VarScan2</option>
                                    <option value="somaticsniper">SomaticSniper</option>
                                </select>
                                <label>Variant Caller Pipeline</label>
                            </div>
                        </div>
                    </div>
            </div>
            <button id="btn30" class="btn tooltipped waves-effect waves-light" data-position="bottom" data-delay="50" data-tooltip="Please pick all options" type="submit"><i class="material-icons right">polymer</i> Submit
            </button>

            </form>
        </div>
    </div>
</div>


      </span></div>
    </li>

  </ul>
</div>

</ul>
</li>
</div>
</span>
{% endblock %}


